body {
  font-size: 16px;
  font-family: serif;
  display: flex;
  color: hsl(14, 45%, 36%);
  background-color: hsl(30, 54%, 90%);
}
body ul,
body ol {
  padding: 0 20px;
}
body li {
  margin: 10px;
}
body h2 {
  margin-top: 0;
}
.fullsize {
  width: 100%;
}
.wholewrapper {
  margin: auto;
  max-width: 700px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}
.wholewrapper img {
  display: flex;
  border-radius: 5px;
}
.wrapper {
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}
h1 {
  color: hsl(24, 5%, 18%);
}
h2 {
  color: hsl(332, 51%, 32%);
}
h3 {
  color: hsl(330, 74%, 32%);
}
.pinkdiv {
  padding: 20px;
  background-color: hsl(330, 100%, 98%);
}
.normaldiv {
  padding: 50px 0;
}
.gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.gridbox p {
  margin: 0;
  padding: 16px;
}
.bordereddiv {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
